@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800;900&display=swap');

.header{
    margin-left: 20px;
    margin-right: 20px;
    height: 150px;
}
.logoText{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  text-transform: none !important;
  color: #14557b;
  
  /* Create the gradient. */
  background-image: linear-gradient(284deg, #14557b, #7fcec5);
  
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.spacer{
    margin-top: 100px;
  }
  
.altText{
    color: #7fcec5 !important;
}

.mybtn{
    background-image: linear-gradient(45deg, #14557b, #7fcec5);
    background-size: 100%;
    background-repeat: repeat;
    border: none;
    border-radius:25px;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    -o-border-radius:25px;
}
.mybtn:hover{
  background-image: linear-gradient(284deg, #14557b, #7fcec5);
    
  background-size: 100%;
  background-repeat: repeat;
    border: none;
}
.mybtn:active{
    background-color: #14557b;
    border: none;
}
.headerShadow{
    box-shadow: 1px 1px 2px hsla(0, 0%, 100%, 0.369);
    /* background-color: #14557b !important; */
    background-color: #14557bc2 !important;
    color: #14557b !important;
    text-transform: uppercase;
    font-size: 13px;
}

.textCenter{
    justify-content: center !important;
    text-align: center !important;
}

.spanSmall{
    margin-left: 30%;
}

 .dropdown-item:active {
  color: #fff;
  background: #14557b;
  background-color:#14557b;
  }

  .dropdown-item:visited{
    color: #fff;
    background: #14557b;
    background-color:#14557b;
  }

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    text-shadow: 2px 2px 4px #000000a0;
  }
  
  .footer img {
    margin-left: 0.5rem;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .myCard{
    max-width: 80%;
    margin: 0 auto;
  }


  @media only screen and (max-width: 767px){
    .spanSmall{
        margin-left: unset;
    }
    .mybtn{
      background-image: linear-gradient(45deg, #14557b, #7fcec5);
    
    background-size: 100%;
    background-repeat: repeat;
      border: none;
      width: 150px;
      margin-left: 28%;
      height: 30px;
      border-radius: 2px !important    ;
      -webkit-border-radius: 2px !important    ;
      -moz-border-radius: 2px !important    ;
      -ms-border-radius: 2px !important    ;
      -o-border-radius: 2px !important    ;
    }

    .navLink {
      text-align: center !important;
    }
    .dropDown{
      text-align: center;
    }
    .myCard{
      max-width: 100%;
      margin: 0 auto;
    }
  

  }


  @media only screen and (min-width: 767px){
    .spanSmall{
        margin-left: 10%;
    }

  }
