.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner{
 max-width: 500px !important;
 margin-bottom: 100px  !important;
 margin-top:-50px !important;
 position: relative;
 margin: 0 auto;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #72837e;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2rem;
  /* text-shadow: 2px 2px 4px #000000a0; */
  color: #14557b;
  
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #14557b, #7fcec5);
  
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  
}
.titleNews {
  margin: 0;
  line-height: 2;
  font-size: 1rem;
  /* text-shadow: 2px 2px 4px #000000a0; */
  color: #14557b;
  
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #14557b, #7fcec5);
  
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.title, .titleNews,
.description {
  text-align: center;
  /* text-shadow: 2px 2px 4px #000000a0; */
  color: #14557b;
  
  /* Create the gradient. */
  background-image: linear-gradient(284deg, #14557b, #7fcec5);
  
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.description {
  line-height: 2;
  font-size: 1rem;
}

/* .code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
} */

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.cardWrapper{
  min-width: 300px;
  min-height: 350px !important;
  max-height: 350px !important;
  display: inline-flex;
}

.newsWrapper{
  min-width: 300px;
  display: inline-flex;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 300px;
  height: 150px;
}

.cardTop{
  border-top: 12px solid #7fcec5;

}

.card:hover,
.card:focus,
.card:active {
  color: #3bb78f;
  border-color: #3bb78f;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1rem;
}

.card p {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1;
}

.logo {
  height: 1em;
}

.spacer{
  margin-top: 100px;
}

.column{
  display: flex;
}
.columnImage{
  width: 80px;
  height: 80px;
  box-shadow: -1px 3px 4px #000000a5;
  border-radius: 50%;
  margin-left: 10px;

  
  /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  object-fit: fill; */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.singleImage{
  width: 200px;
  height: 200px;
  box-shadow: -1px 3px 4px #000000a5;
  border-radius: 50%;
  display: block;
  object-fit: fill;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.columnTitle{
  font-size: 14px;
  font-weight: bold;
  /* color:#224422; */
  color : #14557b;
}
.columnDescription{
  font-size: 10px;
  color:#7fcec5;
}
.columnText{
  font-size: 10px;
  color:#6e7c80;
  padding:10px;
}

.columnIconText{
  font-size: 10px;
  color: crimson;
  padding:10px;
  /* display: flex; */
}

.columnIcon{
  width: 10px;
}

.columnIconX{
  width: 12px;
  margin-left: 8px;
}

.columnIconStar{
  width: 12px;
  margin-left: 8px;
  /* color: #ffd500; */
  color: #bfa000;
}
.columnDisplay{
  column-count: 3;
}

.singleIconText{
  font-size: 18px;
  color:rgb(197, 61, 27);
  padding:10px;
  /* display: flex; */
  
  text-align: center;

}

.singleIcon{
  width: 20px;
}

.singleIconX{
  width: 12px;
  margin-left: 8px;
}

.backIcon{
  width: 12px;
  position: fixed;
  margin-left: 75%;
  margin-top: 40%;
  color: #7fcec5;
  text-shadow: 2px 2px 4px #000000a0;
}


.columnIconStar{
  width: 12px;
  margin-left: 8px;
  /* color: #ffd500; */
  color: #bfa000;
}

.iconLeft{
  float: left;
}
.iconRight{
  float: right;
  color:#7fcec5;
}

.dmBtn{
  font-size:8px;
  font-weight:bold;
  margin-top: 10px;

}

.msgBtn{
  font-size:12px;
  font-weight:bold;
  margin-top: 10px;
  margin: 0px auto;
}

.switchBtn{
  font-size:7px;
  font-weight:bold;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  margin-top: 3px;
}

.altswitchBtn{
  font-size:7px;
  font-weight:bold;
  background-color: #14557b;
  color: #fff;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  margin-top: 3px;
}

.switchIcon{
  width: 7px;
}

.verified{
  height:12px !important;
}
.displayFlex{
  display: inline-flex;
}


.gradientText {
  /* Fallback: Set a background color. */
  color: #14557b;
  
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #14557b, #7fcec5);
  
  background-size: 100%;
  background-repeat: repeat;
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}







@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .switchBtn{
    font-size:7px;
    font-weight:bold;
    border-radius: 50% !important;
    max-width: 100px;
    margin: 0 auto;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    margin-top: -5px;
}

.singleImage{
  margin-bottom: 50px;
}
.backIcon{
  margin-top: 130%;
  margin-left: 85%;
}




}


@media screen and (max-width: 768px){
  .columnDisplay{
    column-count: 2;
  }
  .cardWrapper{
  max-width: 200px;
  min-height: 320px !important;
  max-height: 320px !important;
  display: inline-flex;
  }
  .column{
    display: inline-block;
  }
  .columnIconStar{
    width: 10px !important;
    margin-left: 5px;
    /* color: #ffd500; */
    color: #bfa000;
  }
  .columnTitle{
    font-size: 12px;
    margin-top:15px;
    font-weight: bold;
    /* color:#224422; */
    color : #14557b;
  }
  .columnDescription{
    font-size: 10px;
    color:#7fcec5;
    
  }
  .columnImage{
    margin-left: 10px;
  }
  
  .columnText{
    font-size: 10px;
    color:#575857;
    padding:10px;
    display: none;
  }

  .iconLeft{
    float: unset;
    text-align: center !important;
  }
  .iconRight{
    display: none;
  }
  .columnIconText{
    
    text-align: center !important;
  
  }
  .dmBtn{
    font-weight:normal;
  }

}