.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner{
 max-width: 500px !important;
 margin-bottom: 100px  !important;
 margin-top:-50px !important;
 position: relative;
 margin: 0 auto;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #3bb78f;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-shadow: 2px 2px 4px #000000a0;
}

.title,
.description {
  text-align: center;
  text-shadow: 2px 2px 4px #000000a0;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 250px;
  height: 150px;
}

.cardTop{
  border-top: 12px solid #388a38;

}

.card:hover,
.card:focus,
.card:active {
  color: #3bb78f;
  border-color: #3bb78f;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

.spacer{
  margin-top: 100px;
}

.column{
  display: flex;
}
.columnImage{
  width: 100px;
  height: 120px;
  box-shadow: -1px 3px 4px #000000a5;
  /* border-radius: 5%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */
  object-fit: fill;
}
.singleImage{
  width: 200px;
  height: 240px;
  box-shadow: -1px 3px 4px #000000a5;
  border-radius: 5%;
  display: block;
  object-fit: fill;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}
.columnTitle{
  font-size: 16px;
  font-weight: bold;
  /* color:#224422; */
  color : #366936;
}
.columnDescription{
  font-size: 11px;
  color:#388a38;
}
.columnText{
  font-size: 11px;
  color:#575857;
  padding:10px;
}

.columnIconText{
  font-size: 11px;
  color:rgb(197, 61, 27);
  padding:10px;
  /* display: flex; */
}

.columnIcon{
  width: 10px;
}

.columnIconX{
  width: 12px;
  margin-left: 8px;
}

.columnIconStar{
  width: 12px;
  margin-left: 8px;
  /* color: #ffd500; */
  color: #bfa000;
}

.singleIconText{
  font-size: 18px;
  color:rgb(197, 61, 27);
  padding:10px;
  /* display: flex; */

  text-align: center;

}

.singleIcon{
  width: 20px;
}

.singleIconX{
  width: 12px;
  margin-left: 8px;
}

.backIcon{
  width: 12px;
  position: fixed;
  margin-left: 75%;
  margin-top: 40%;
  color: red;
  text-shadow: 2px 2px 4px #000000a0;
}


.columnIconStar{
  width: 12px;
  margin-left: 8px;
  /* color: #ffd500; */
  color: #bfa000;
}

.iconLeft{
  float: left;
}
.iconRight{
  float: right;
  color:#388a38;
}

.dmBtn{
  font-size:8px;
  font-weight:bold;
  margin-top: 10px;

}

.msgBtn{
  font-size:12px;
  font-weight:bold;
  margin-top: 10px;
  margin: 0px auto;
}

.switchBtn{
  font-size:7px;
  font-weight:bold;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  margin-top: 3px;
}

.altswitchBtn{
  font-size:7px;
  font-weight:bold;
  background-color: #28a745;
  color: #fff;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  margin-top: 3px;
}

.switchIcon{
  width: 7px;
}

.verified{
  height:12px !important;
  margin-top: -10px;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .switchBtn{
    font-size:7px;
    font-weight:bold;
    border-radius: 50% !important;
    max-width: 100px;
    margin: 0 auto;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    margin-top: -5px;
}

.singleImage{
  margin-bottom: 50px;
}
.backIcon{
  margin-top: 130%;
  margin-left: 85%;
}




}


@media screen and (max-width: 767){
 
}